
h1{
font-family: 'Diplomata SC', cursive;
font-size: 30px;
}

h5{
color: white;
font-size: 20px;
}

body{
	background-image: url("../images/background.jpg");
}

.jumbotron{
	background-color: #9F000F;
	color: white;
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
	height: 80px;

}

.navbar{
	background-color: #9F000F;
	color: white;
	text-align: center;
/*	padding-top:10px;
	padding-bottom: 10px;
	height: 80px;*/

}

/*.panel-primary{
	border:solid #9F000F;
	}

.panel-heading{
 background-color: #9F000F ;  
 color:white ; padding:10px ;
}*/

.panel-body{
	padding:10px;
}

.checkbuttons{
	color:white;
}